footer.footer 
    p.footer__copyright &copy;  
        span.copyright__year= `${new Date().getFullYear()} by`
        a.website__link(href='https://mohammadarmaan.netlify.app')  &nbsp; Mohammad Armaan   