extends base

block content
    main.main
        .forgetPassword__form
            h2.heading__secondary Forgot your password? 
            form.form.form--forgotPassword
                .form__group
                    p.forgotPassword__text Forgot your password? If you have forgot your password then plase mention your email id we will help you reset your password
                .form__group 
                    label.form__label(for='email') Email 
                    input.form__input(id='email' type='email' name='email' placeholder='your@example.com' required)
                .form__group 
                    button.btn.form__btn(type='submit') Send Email