extends base

block content
    main.main
        .login__form
            h2.heading__secondary Reset your password
            form.form.form--resetPassword
                .form__group 
                    label.form__label(for='password') Password 
                    input.form__input(id='password' type='password' name='password' placeholder='••••••••' minlength=8 required)
                .form__group 
                    label.form__label(for='password-confirm') Password Confirm
                    input.form__input(id='password-confirm' type='password' name='password-confirm' placeholder='••••••••' minlength=8 required)
                    input(type='hidden' id='reset-token' value=token)
                .form__group 
                    button.btn.form__btn(type='submit') Reset Password