extends base

block content
    main.main
        section.section
            p.login__warning In order to to use this platform, please login/sign up to save your todos online! 
            br
            a.warning__link.login__link(href='/login') Login/ Sign up 